body,html {
    height: 100%;
    margin: 0%;
}

.bg{
    /*image used*/
    background-image: url("../img/web-development-background-8.jpg");

    /*Full height*/
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: block;
    font-size: 64px;
    text-align: center;
    color: #131111;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

.nav_bar {
    background-color: rgb(109, 101, 101);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .nav_bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav_bar a.active {
    background-color: #1c1f1e;
    color: white;
  }